{% extends "base.html"%}
{% block content %}
<div class="row">
    <h3 class="text-center text-info">
        <i class="fa fa-user-plus"></i>
        <span>Register</span>
    </h3>
</div>
<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return uploadSize();">
        {% csrf_token %}
        <div class="clearfix"></div>
        <div class="form-group required">
            <label class="control-label col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-5 col-lg-5" for="{{ form.username.id_for_label}}">Username</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 wideForm">
                <input class="form-control" type="text" id="id_username" name="{{form.username.html_name}}" value="" required>
                <span class="help-inline text-danger">
                    {% for error in form.username.errors %}{{ error }}{% endfor %}
                </span>
                <span class="help-inline">
                    {% if form.username.help_text %}
                            <small>{{ form.username.help_text }}</small>
                        {% endif %}
                </span>
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-5 col-lg-5" for="{{ form.email.id_for_label}}">Email</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 wideForm">
                <input class="form-control" type="email" id="id_email" name="{{form.email.html_name}}" value="" required>
                <span class="help-inline text-danger">
                    {% for error in form.email.errors %}{{ error }}{% endfor %}
                </span>
                <span class="help-inline">
                    {% if form.email.help_text %}
                            <small>{{ form.email.help_text }}</small>
                        {% endif %}
                </span>
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-5 col-lg-5" for="{{ form.password1.id_for_label}}">Password</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 wideForm">
                <input class="form-control" type="password" id="id_password1" name="{{form.password1.html_name}}" value="" required>
                <span class="help-inline text-danger">
                    {% for error in form.password1.errors %}{{ error }}{% endfor %}
                </span>
                <span class="help-inline">
                    {% if form.password1.help_text %}
                            <small>{{ form.password1.help_text }}</small>
                        {% endif %}
                </span>
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-5 col-lg-5" for="{{ form.password2.id_for_label}}">Password (again)</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 wideForm">
                <input class="form-control" type="password" id="id_password2" name="{{form.password2.html_name}}" value="" required>
                <span class="help-inline text-danger">
                    {% for error in form.password2.errors %}{{ error }}{% endfor %}
                </span>
                <span class="help-inline">
                    {% if form.password2.help_text %}
                            <small>{{ form.password2.help_text }}</small>
                        {% endif %}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-5 col-lg-5" for="{{ form.birth_date.id_for_label}}">Birth Date</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 wideForm">
                <input class="form-control datepicker" type="text" id="id_birth_date" name="{{form.birth_date.html_name}}" value="">
                <span class="help-inline text-danger">
                    {% for error in form.birth_date.errors %}{{ error }}{% endfor %}
                </span>
                <span class="help-inline">
                    {% if form.birth_date.help_text %}
                            <small>{{ form.birth_date.help_text }}</small>
                        {% endif %}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-5 col-lg-5" for="{{ form.photo.id_for_label}}">Photo</label>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-3 col-lg-2 wideForm">
                <div class="input-group wideForm">
                    <input type="text" class="form-control" id="{{form.photo.html_name}}_name" readonly>
                    <span class="input-group-btn">
                        <label class="btn btn-primary btn-file">Browse <input type="file" name="{{form.photo.html_name}}" id="{{form.photo.html_name}}_fn" onchange="getFilePath()" class="hidden"></label>
                    </span>
                 </div>
                <small><p id="{{form.photo.html_name}}_msg" class="text-danger "></p></small>
                <span class="help-inline text-danger">
                    {% for error in form.photo.errors %}{{ error }}{% endfor %}
                </span>
                <span class="help-inline">
                    {% if form.photo.help_text %}
                            <small>{{ form.photo.help_text }}</small>
                        {% endif %}
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-1 col-xs-10 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-5 col-lg-2 wideForm">
                <button type="submit" class="btn btn-default btn-block">
                    <i class="fa fa-user-plus"></i>
                    <span>Register</span>
                </button>
            </div>

        </div>
    </form>
</div>

{% endblock content %}






























